<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <label for="termino">Buscar Artisata</label>
            <input #termino type="text" placeholder="Buscar Artista..." class="form-control" (keyup)="buscarArtista(termino.value)">
        </div>
        <div class="col-md-9" *ngIf="termino">
            <hr>
            <app-loading *ngIf="loading"></app-loading>
            <div class="row">
                <app-tarjetetas *ngIf="!loading" [items]="artistas"></app-tarjetetas>
            </div>
        </div>

    </div>
</div>